/**********************************
common css
************************************/
body {
  color: #666666;
  font-size: 16px;
  font-family: Georgia, sans-serif;
  line-height: 1.5em;
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 96%;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* .alignleft {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}
.alignleft {
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
  margin-bottom: 15px;
} */
/**********************************
top header css
************************************/
.header_area {
  width: 100%;
  clear: both;
}
#top_header_area {
  background-color: #ba2e1f;
  width: 100%;
  padding: 15px;
}
.inner_top_header {
  overflow: hidden;
}
.mini_menu {
  padding-top: 5px;
  width: 70%;
  float: left;
}
.mini_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: left;
}
.mini_menu ul li {
  position: relative;
  margin-right: 20px;
  display: inline-block;
}
.mini_menu ul li::after {
  background-color: white;
  content: "";
  position: absolute;
  height: 12px;
  top: 6px;
  right: -10px;
  width: 1px;
}
.mini_menu ul li:last-child:after {
  display: none;
}
.mini_menu ul li a {
  color: white;
  font-size: 14px;
  display: block;
  text-decoration: none;
}
.mini_menu ul li a:hover {
  color: rgb(216, 210, 210);
  font-size: 14px;
  display: block;
  text-decoration: none;
}
.search_area {
  float: right;
  width: 30%;
}
.search_area form {
  background-color: white;
  border-radius: 25px;
  float: right;
  padding: 2%;
  max-width: 210px;
  width: 96%;
}
.search_area input {
  border: 0px solid;
  width: 75%;
  padding: 1%;
  float: left;
  color: black;
}
.search_area input[type="submit"] {
  background: url(img/search.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 23%;
  cursor: pointer;
}
/****************main header css ************/
#main_header_area {
  width: 100%;
  clear: both;
}
.inner_header {
  padding: 40px 0;
  overflow: hidden;
}
.logo_area {
  float: left;
  width: 240px;
}
.social_area {
  padding-top: 20px;
  float: right;
  max-width: 600px;
  width: 100%;
}
.social_area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.social_area ul li {
  display: inline-block;
  margin-left: 15px;
}
.social_area ul li a {
  display: block;
  text-decoration: none;
}

.social_area ul li a i {
  background-color: #333333;
  border-radius: 50%;
  width: 35px;
  padding-top: 8px;
  color: white;
  height: 25px;
  text-align: center;
  transition: 0.5s;
}
.social_area ul li a:hover i {
  background-color: #ee802f;
}
.social_area ul li a:hover i.fa-linkedin {
  background-color: #1348d1;
}
.social_area ul li a:hover i.fa-twitter {
  background-color: #188acf;
}
.social_area ul li a:hover i.fa-pinterest {
  background-color: #b9011d;
}
.social_area ul li a:hover i.fa-google-plus-g {
  background-color: #e66364;
}
.social_area ul li a:hover i.fa-rss {
  background-color: #ee802f;
}

/* *****************main menu*********************** */

#main_menu {
  width: 100%;
  clear: both;
}
.inner_menu {
  background: #333333;
  position: relative;
  min-height: 34px;
  padding: 15px 0;
  border-radius: 5px;
  z-index: 1;
}
.inner_menu::after {
  background: #2b2b2b;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  content: "";
  z-index: -1;
}
#main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#main_menu ul li {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}

#main_menu ul li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}
#main_menu ul li a:hover {
  color: #ba2e1f;
}
#main_menu ul li:hover a {
  color: #ba2e1f;
}
#main_menu ul li:hover ul li a {
  color: white;
}
/*********Dropdown******* */
#main_menu ul ul {
  position: absolute;
  background-color: red;
  width: 180px;
  left: -9999999px;
  top: 33px;
}
#main_menu ul li:hover ul {
  left: 0;
}
#main_menu ul li:hover ul ul {
  left: -9999999px;
}
#main_menu ul ul ul {
  left: -9999999px;
  top: 0px;
}

#main_menu ul li ul li:hover ul {
  left: 180px;
}
#main_menu ul ul li {
  margin: 0;
  display: block;
}
#main_menu ul ul li a:hover {
  background: #2b2b2b;
  color: white;
}

#main_menu ul ul li:hover a {
  background: #2b2b2b;
  color: white;
}
#main_menu ul ul li:hover ul li a {
  background: none;
  color: white;
}
#main_menu ul ul li ul li a:hover {
  background: #2b2b2b;
  color: white;
}

/*******************slider */
.slider_area {
  margin-top: 20px;
}
.item {
  position: relative;
}
.slider_caption {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.slider_caption h1 {
  color: #ba2e1f;
  font-size: 35px;
}
.item img {
  width: 100%;
  object-fit: cover;
  width: 100%;
}
/***************hero area****************** */
#hero_area{
  background: #fff;
  margin: 0;
  padding:0;
}
.inner_hero {
 
  display: flex;
  align-items: center;
}
.inner_hero img{
  height: 400px;
}
.inner_hero_content{
margin-left: 15px;
}
.inner_hero_content h1{
  font-size: 50px;
  color: #000000;
  
 line-height: 1rem;

}
.inner_hero p{
font-size: 16px;
}
.inner_hero a{
float: right;
text-transform: uppercase;
color: #b9011d;
text-decoration: none;
}
.inner_hero a:hover{

color: #171616;

}
